html,body{
  margin: 0;
}

.Full-video-container{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.Full-video-container video{
position: absolute;
width: auto;
height: auto;
min-width: 100%;
min-height: 100%;
top:50%;
right:50%;
transform: translate(50%,-50%);
z-index: -1;


}


.Video-content{
  font-weight: bolder;
  font-size :20px;
  padding: 10px;
  margin-top: 90px;
}
